@media screen and (min-width:481px){
    body{
        background-color: aquamarine;
        width: auto;
        height: auto;
    }
    .register{
        text-align: center;
        font-size: 120%;
    }
    .name{
        width: 30em;
        height:3em;
        margin: 15px;
        max-width: 100%;
    }
    select {
        width: 30.5em;;
        margin: 15px;
        height:3em;
    }

    .submit {
        margin: 15px;
        width: 20em;
        height:3em;
        background-color: white;
    }

    .date{
        margin: 15px;
        width: 30em;
        height:3em;
        max-width: 100%;
    }

    .backbutton{
        width: 10em;
        height:3em;
        background-color: white;
    }

    .back{
        text-align: right;
    }

    .btn-square-pop {
        position: relative;
        display: inline-block;
        padding: 0.25em 0.5em;
        text-decoration: none;
        color: #000000;
        background: #ffffff;
        border-bottom: solid 2px #d27d00;
        border-radius: 4px;
        box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
        font-weight: bold;
      }

      .btn-square-pop:active {
        border-bottom: solid 2px #fd9535;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
      }

}

